.round-button {
  display: inline-block;
  border-radius: 50%;
  background-color: #fff; /* Cor de fundo do botão */
  color: #FFFFFF; /* Cor do texto dentro do botão */
  padding: 0;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

.nav-separar{
    display: flex;
    justify-content: space-between;
    width: 95vw;
    align-items: center;
    margin: 0 auto;
}

.title-nav{
    color: #fff;
}

.nav{
    background-color: #53C929;
    height: 10vh;
    z-index: 2;
    display: flex;
    align-items: center;
}