{% extends 'base.html' %}

{% block head %}
<title>Sua prantinha :)</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/planta_name.css') }}">
{% endblock %}

{% block body %}

<nav class="nav">
    <div class="nav-separar">
        <a href="/plantinhas" class="round-button"><img src="home.png" alt="Home"></a>
        <h1 class="title-nav">HORA DE CUIDAR DA SUA PLANTINHA :)</h1>
    </div>

</nav>
<div class="plant-info">
    <h1>{{ planta }}</h1>
    <img src="planta.jpeg" alt="Plant picture">
</div>

<form action="/plantinhas/{{ {{ planta }} }}" method="POST" class="flex-itens-menu">
    <button type="submit" value="add verification">verificar</button>
</form>
{% endblock %}

<p>Luz: {{ plant_data['luz'] }}</p>
    <p>Umidade: {{ plant_data['umidade'] }}</p>
    <p>Temperatura: {{ plant_data['temperatura'] }}</p>
    <p>Data Inferida: {{ plant_data['data'] }}</p>