{% extends 'base.html' %}

{% block head %}
<title>Sua prantinha :)</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/plantas.css') }}">
{% endblock %}

{% block body %}

    <nav class="nav">
        <div class="nav-separar">
            <div>
                <form action="/plantinhas" method="POST" class="flex-itens-menu">
                    <div class="input-group">
                        <input required="" type="text" id="nome_planta" name="nome_planta" autocomplete="off" class="input">
                        <label class="user-label">Plant Name</label>
                    </div>
                    <button onclick="alerta(nome_ja_registrado)" type="submit" value="add plant">Adicionar planta</button>
                </form>
            </div>
            <h1 class="title-nav">HORA DE CUIDAR DA SUA PLANTINHA :)</h1>
        </div>

    </nav>

    <main>
        {% for planta in dic %}
            <div class="card">
                <div class="title">
                    <h1 >{{ planta }}</h1>
                </div>
                <div class="subinfos">
                    <p>Luz: {{ dic[planta]['luz'] }}</p>
                    <p>Umidade: {{ dic[planta]['umidade'] }}</p>
                    <p>Temperatura: {{ dic[planta]['temperatura'] }} </p>
                    <p>Data Inferida: {{ dic[planta]['data'] }}</p>
                </div>
            </div>
        {% endfor %}

    </main>
{% endblock %}

<script>
    function alerta(nome_ja_registrado){
        if (!nome_ja_registrado){
            return alert("Planta registrada");
        }
        else{
            return alert("Planta já existe");
        }
    }
</script>